<h1>캐릭터 설정 화면</h1>

<form id="character_form" method="POST">
    <input type="text" name="name" id="name" value="{{characters.name}}" size="30" placeholder="사용자 명을 입력하세요." />
    
    <label for="room_no">방 번호</label>
    <select name="room_no" value="{{characters.room_no}}" id="room_no">   
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <button type="submit" onclick="executeInput()">입력</button>
</form>

<script>
    function executeInput() {
        event.preventDefault();
        const room_no = document.getElementById("room_no").value;
        const name = document.getElementById("name").value;

        document.getElementById("character_form").action = `/room/${room_no}/start_game`;
        document.getElementById("character_form").submit();
    }
</script>
